@import "../base/variables";

.contacto-container {
	background-color: $main-bg;
	.contacto-link-container {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-evenly;
		.contacto-logo {
			height: 6rem;
			min-height: 50px;
			transition: 0.3s ease;
			max-width: 100%;
			&:hover {
				transform: scale(1.3);
			}
		}
	}
}
