@import "../base/variables";

footer {
	div {
		a {
			color: $main-text-color;
		}
		a:hover {
			color: $hover-color;
		}
	}
	margin-top: 2rem;
	padding: 1.5rem;
	/* 	text-align: center;
	color: $main-text-color; */
	border-top: 2px solid white;
	font-family: $secondary-font;
	font-size: 20px;
	@extend %texts;
	.logo-coder {
		img {
			margin: 1rem;
			width: 12rem;
		}
	}
}
