@import "../base/variables";

/* Font */

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&family=Marcellus&display=swap");

/* Reset */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Generales */

html {
	scroll-behavior: smooth;
}

body {
	background-color: $main-bg;
	font-family: $primary-font;
	width: 100vw;
	height: 100vh;
}

/* Un efectito lindo para el selection jaja */

*::selection {
	background-color: rgba(48, 45, 45, 0.6);
	color: $hover-color;
}

h2 {
	font-size: 3rem;
	font-weight: 500;
	color: $main-text-color;
	padding: 2rem 0;
	text-align: center;
}

h3 {
	color: $main-text-color;
	text-align: center;
	padding-bottom: 2rem;
}

p {
	color: $main-text-color;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}
