$main-text-color: #fff;
$hover-color: #ffa500;
$main-bg: #151518;

$primary-font: "Marcellus", serif;
$secondary-font: "Fira Sans", serif;

/* Maps - Lo hago a forma de entrega de desafío pero por la cantidad que tengo me resulta más fácil definir cada variable */

$colors: (
	"main-text": #fff,
	"hover": #ffa500,
	"main-bg": #151518,
);

/* Mixins */

@mixin border-general($color, $width) {
	border: $width solid $color;
}

/* Extend */

%texts {
	color: map-get($map: $colors, $key: main-text);
	text-align: center;
}
